--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
beautifulsoup4==4.11.1
sglogging==0.0.4
sgrequests==0.4.0
sgscrape==0.3.1
sgselenium==0.5.0
webdriver_manager==3.7.0