--extra-index-url https://dl.cloudsmith.io/KVaWma76J5VNwrOm/crawl/crawl/python/simple/
webdriver_manager==3.4.1
sgselenium==0.1.4
sgrequests==0.1.13
sglogging==0.0.4
beautifulsoup4==4.9.3
sgscrape==0.1.13
selenium==3.141.0
